@media screen and (max-width: 880px) {
    #data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 27px;
    }

    #information {
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }

    #info-p {
        width: 75%;
    }

    #banner-img {
        width: 20rem;
    }
}

@media screen and (max-width: 540px) {
    #cc-1 {
        font-size: 23pt;
    }
}

@media screen and (max-width: 460px) {
    #cc-1 {
        font-size: 18pt;
        width: 20rem;
    }
}


/* NAV BAR ADDITION */

@media screen and (max-width: 780px) {
    #navbtn {
        display: block;
        background-color: transparent;
        border: none;
        padding: .5rem;
        font-size: 17pt;
        display: flex;
        align-items: center;
    }

    #navLink {
        display: flex;
        height: 100vh;
        width: 170px;
        padding: .7rem;
        border-radius: 20px;
        justify-content: start;
        flex-direction: column;
        position: fixed;
        top: 10vh;
        right: -100%;
        background-color: #6b7280;
        backdrop-filter: blur(7px);
        font-size: 18px;
        align-items: start;
    }

    #navLink li {
        padding: 0.5rem;
        margin: 0;
    }
}