* {
    font-family: 'Open Sans', sans-serif;
}


::-webkit-scrollbar {
    background-color: white;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    width: 10px;
}




#consult-btn {
    transition: color 0.4s ;
}

#consult-btn:hover {
    background-color: white;
    color: #3b82f6;
}

#features-box ul li {
    padding: 14px;
    border-radius: 10px;
    transition: transform .4s ease, box-shadow .4s;
    background-color: #f3f4f6;
    border: 1px solid gray;
}

#features-box ul li:hover {
    transform: scale(1.06);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


#connective-icons i {
    transition: transform .4s;
}

#connective-icons i:hover {
    transform: scale(1.3);
}



#top-icons {
    gap: 5vw;
}

#top-icons i {
    transition: transform .4s, text-shadow .4s;
}

#top-icons i:hover {
    transform: scale(1.5);
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}