<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawcred</title>

    <link rel="icon" href="/static/pictures/lawcred.jpg" type="image/x-icon">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="flex flex-row justify-around p-4 fixed w-full bg-blue-400 bg-opacity-50" id="navigation">
        <span class="flex flex-row items-center space-x-2">
            <img class="rounded-md" src="/static/pictures/lawcred.jpg" width="65">
            <h1 class="text-lg">Lawcred</h1>
        </span>
        <ul class="flex flex-row space-x-7 items-center text-lg" id="navLink">
            <li id="navbtn">
                <a href="">Home</a>
            </li>
            <li id="navbtn">
                About
            </li>
            <li id="navbtn">
                Contact
            </li>
        </ul>
    </nav>

    <div class="pt-24" id="wrapper">

    </div>
</body>
</html>